# {{scheme-system}} {{scheme-name}} - contour color config
# {{scheme-author}}

{{scheme-slug}}:
  default:
    background: '#{{base00-hex}}'
    foreground: '#{{base05-hex}}'
    bright_foreground: '#{{base06-hex}}'
    dimmed_foreground: '#{{base04-hex}}'
  cursor:
    default: '#{{base05-hex}}'
    text: '#{{base00-hex}}'
  normal:
    black:   '#{{base01-hex}}'
    red:     '#{{base08-hex}}'
    green:   '#{{base0B-hex}}'
    yellow:  '#{{base0A-hex}}'
    blue:    '#{{base0D-hex}}'
    magenta: '#{{base0E-hex}}'
    cyan:    '#{{base0C-hex}}'
    white:   '#{{base06-hex}}'
  bright:
    black:   '#{{base02-hex}}'
    red:     '#{{base12-hex}}'
    green:   '#{{base14-hex}}'
    yellow:  '#{{base13-hex}}'
    blue:    '#{{base16-hex}}'
    magenta: '#{{base17-hex}}'
    cyan:    '#{{base15-hex}}'
    white:   '#{{base07-hex}}'
